@using SFA.DAS.Forecasting.Web.Extensions
@model SFA.DAS.Forecasting.Web.ViewModels.BalanceViewModel

@{
    ViewBag.Title = "Forecasting";
}

<div class="grid-row">
    <div class="column-full">
        <h1 class="heading-xlarge heading-dashboard">Forecasting</h1>
    </div>
</div>

<div class="grid-row">
    <div class="column-two-thirds">
        <p>The figures below show the funds available to you for the duration of your apprenticeships. These figures are a representation of the data you have filled in.</p>
    </div>

    <div class="form-group">
        <button class="button" data-clipboard-action="copy" data-clipboard-target="#balancesheet">
            Copy to clipboard
        </button>
    </div>

    <details>
        <summary>How the cost of is calculated</summary>

        <p>The balance sheet is based on last month’s payment for both levy credit and cost of training, it doesn’t include any future apprenticeship starts or apprentices who’ve already started and payment has not yet been made to their training provider.</p>
    </details>


    <div id="tabs-container">
        @Html.Partial("ForcastingMenu")
        <div id="tab-1" class="tab-content">

            <table class="results-table sticky-header" id="balancesheet">
                <thead>
                    <tr>
                        <th class="nowrap">Date</th>
                        <th class="financial">Levy credit</th>
                        <th class="financial">Cost of training</th>
                        <th class="financial">Completion payments</th>
                        <th class="financial">Expired funds</th>
                        <th class="financial">Balance</th>
                    </tr>
                </thead>
                <tbody>
                @foreach (var item in Model.BalanceItemViewModels)
                {
                    <tr>
                        <td class="nowrap">@item.Date.ToGdsFormatLongMonthNameWithoutDay()</td>
                        <td class="financial">@item.LevyCredit.FormatCost()</td>
                        <td class="financial">@item.CostOfTraining.FormatCost()</td>
                        <td class="financial">@item.CompletionPayments.FormatCost()</td>
                        <td class="financial">@item.ExpiredFunds.FormatCost()</td>
                        <td class="financial">@item.Balance.FormatCost()</td>
                    </tr>
                }
                </tbody>
            </table>
        </div>


        <div id="tab-2" class="tab-content" style="display: none;">
            <table class="hidden">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Description</th>
                        <th>Amount</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="">September 2017</td>
                        <td>Acme Training Plc</td>
                        <td> £313.40 </td>
                        <td><a href="#">Details</a></td>
                    </tr>
                    <tr>
                        <td class="">September 2017</td>
                        <td>Anvil Mentoring and Training Ltd</td>
                        <td> £300.00 </td>
                        <td><a href="#">Details</a></td>
                    </tr>
                    <tr>
                        <td class="">September 2017</td>
                        <td>Anvil Group Plc</td>
                        <td> £133.33 </td>
                        <td><a href="#">Details</a></td>
                    </tr>
                    <tr>
                        <td class="">September 2017</td>
                        <td>Best Western Training Ltd</td>
                        <td>£133,33</td>
                        <td><a href="#">Details</a></td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>
