@using SFA.DAS.Forecasting.Web.Extensions
@model SFA.DAS.Forecasting.Web.ViewModels.BalanceViewModel

@{
    ViewBag.Title = "Funding projection";
}


<div class="grid-row funding-projection">
    <div class="column-two-thirds">
        <div class="hgroup form-group">
            <h1 class="heading-xlarge">
                Funding projection
            </h1>
            <p>
                The figures below show the estimated funds that may be available to you for the duration of your apprenticeships.
            </p>

            <p>
                These figures are based on the current information in your account and the data provided by your training provider which is used to calculate funding. The table shows the monthly projection figures until April 2019.
            </p>
            <p>
                They don’t include any future apprenticeship starts or apprentices who’ve already started and payment has not yet been made to their training provider.
            </p>
        </div>
    </div>

    <div class="column-one-third">
        <div class="related">
            <h3 class="heading-small">Download this data</h3>
            <div class="form-group">
                <ul class="list list-links">

                    <li>
                        <a href="@Url.Action("Csv", "Forecasting", new {hashedAccountId = Model.HashedAccountId}, null)" class="">
                            Download as a CSV file
                        </a>
                    </li>
                </ul>
            </div>
            <details>
                <summary>What does the download include?</summary>
                <p>The download includes the following data:</p>
                <ul class="list list-bullet">
                    <li>Funds in</li>
                    <li>Cost of training</li>
                    <li>Completion payments</li>
                    <li>Your contribution</li>
                    <li>Government contribution</li>
                    <li>Future funds</li>
                </ul>
            </details>
        </div>
    </div>
</div>

<!-- CHART -->
<div class="grid-row">
    <div class="column-full">
        <div class="chart-container">
            <div class="chart-data"
                 data-dates="@Model.DatesStringArray"
                 data-values="@Model.BalanceStringArray">

            </div>
            <h2 class="heading-large">Funding Projection Chart</h2>
            <p>Account funds over time</p>
            <div id="chart"></div>
        </div>
    </div>
</div>

<!-- Projection -->
<h2 class="heading-large">Your account projection</h2>
<div class="grid-row" id="account-projection">
    <div class="column-two-thirds">
        <p>A month by month projection of your account balance.</p>

        <details>
            <summary>How the 'cost of training' is calculated</summary>
            <div class="panel panel-width-thin">

                <p>The 'cost of training' column shows the total monthly training costs that have been calculated for future months.</p>
                <p>The 'completion payments' column shows the total of completion payments that happen in that month.</p>
                <p>Payments are usually made on the 5th working day of each month and are updated in the forecast.</p>
                <p>
                    The funding projection does not include any overdue completion
                    payments where the apprenticeships have overrun the planned
                    completion date.
                </p>
            </div>
        </details>


        <details>
            <summary>How are the 'funds in' figures worked out?</summary>
            <div class="panel panel-width-thin">

                <p>The 'funds in' column show the total of the last received levy credits from your PAYE schemes. The figure will be updated on the 23rd of each month.</p>
                <p>The same figures are used throughout the forecast.</p>

            </div>
        </details>

        <details>
            <summary>Where is the end-point assessment cost?</summary>
            <div class="panel panel-width-thin">

                <p>The end-point assessment cost is paid by your training provider at the end of the apprenticeship.  The funds for this payment are included in the training and completion costs.</p>
                <p>
                    This payment will be made to the end point assessment organisation by the training provider at the end of the apprenticeship or soon after the apprenticeship has finished.

                </p>
            </div>
        </details>

    </div>
    <div class="column-one-third pending-completion-payments">
        <div class="panel panel-width-thin">
            <p>Overdue completion payments</p>
            <span class="heading-medium">@Model.OverdueCompletionPayments.FormatCost()</span>
            <details>
                <summary>What does this figure mean?</summary>
                <div class="">
                    <p>This is the value of your overdue completion payments where the apprenticeships have overrun the planned completion date.</p>
                </div>
            </details>
        </div>
    </div>
</div>

<div class="grid-row">
    <div class="column-full">
        <table class="small" id="balancesheet">
            <thead>
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th colspan="2" class="co-invest-head grey-bg">Co-investment</th>
                    <th></th>
                </tr>
                <tr>
                    <th class="nowrap">Date</th>
                    <th class="financial">Funds in</th>
                    <th class="financial">Cost of training</th>
                    <th class="financial">Completion payments</th>
                    <th class="financial grey-bg">Your contribution</th>
                    <th class="financial grey-bg">Government contribution</th>
                    <th class="financial">Future funds</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.BalanceItemViewModels)
                {
                    <tr>
                        <td class="nowrap">@item.Date.ToGdsFormatShortMonthWithoutDay()</td>
                        <td class="financial">@item.LevyCredit.FormatCost()</td>
                        <td class="financial">@item.CostOfTraining.FormatCost()</td>
                        <td class="financial">@item.CompletionPayments.FormatCost()</td>
                        <td class="financial grey-bg">
                            @if (item.CoInvestmentEmployer == 0)
                            {
                                <span>–</span>
                            }
                            else
                            {
                                <span>@item.CoInvestmentEmployer.FormatCost()</span>
                            }
                        </td>
                        <td class="financial grey-bg">
                            @if (item.CoInvestmentGovernment == 0)
                            {
                                <span>–</span>
                            }
                            else
                            {
                                <span>@item.CoInvestmentGovernment.FormatCost()</span>
                            }
                        </td>
                        <td class="financial">@item.Balance.FormatCost()</td>

                    </tr>
                }
            </tbody>
    </table>
  </div>
</div>

<div class="grid-row">
    <div class="column-full">
        <div class="info-summary">
            <h3 class="heading-medium">Disclaimer</h3>
            <p>This tool is designed to illustrate what your funds will look like if there are no changes made to your apprenticeships.</p>
            <p>The Department for Education is not responsible for the consequences of any decisions or actions taken, based on the information provided by this tool.</p>
        </div>
    </div>
</div>

@section breadcrumb {
    @if (!string.IsNullOrEmpty(Model.BackLink))
    {
        <div class="breadcrumbs">
            <a href="@Model.BackLink" aria-label="Back" class="back-link">Back</a>
        </div>
    }
}
