@using SFA.DAS.Forecasting.Web.Extensions
@using SFA.DAS.Forecasting.Web.Configuration
@model SFA.DAS.Forecasting.Web.ViewModels.ProjectionViewModel

@{
    ViewBag.Title = "Funding projection";
    ViewBag.ZenDeskLabel = "eas-funding-projection";
    ViewBag.GaData.Vpv = "/forecasting/estimation/page-balance";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
            Funding projection
        </h1>
        <p>
            The figures below show the estimated funds that may be available to you for the duration of your apprenticeships.
        </p>
        <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">More information</summary>
                <div class="govuk-details__text">
                <p>
                    These figures are based on the current information in your account and the data provided by your training provider which is used to calculate funding.
                </p>
                <p>
                    The projection includes all apprenticeships in your account that you've agreed to fund: including the apprenticeships funded by your pledges.
                </p>
            </div>
        </details>
        <p><a asp-route="@RouteNames.StartEstimation" asp-route-hashedAccountId="@Model.HashedAccountId" class="govuk-button">Estimate apprenticeships you could fund</a></p>

        @if (@Model.ProjectionDate.HasValue)
        {
            <div class="govuk-inset-text">
                <p>Your projection was last updated on @Model.ProjectionDate.Value.ToGdsFormatFull()</p>
            </div>
        }
        else
        {
            <div class="govuk-inset-text">
                <p>
                    If you have declared your levy and/or made a payment to your training provider, your account will show the projection when it next updates. The account is updated twice a month.
                </p>
                <p>
                    You won't see a projection of funds until you declare your levy or make a payment to a training provider.
                </p>
            </div>
        }

    </div>
    <div class="govuk-grid-column-one-third">
        <div class="app-related-section">
            <h2 class="govuk-heading-s">Download data as a spreadsheet</h2>
            <ul class="govuk-list">
                <li>
                    <a id="apprenticeship_csvdownload" asp-route="@RouteNames.DownloadApprenticeships" asp-route-hashedAccountId="@Model.HashedAccountId" class="govuk-link">Apprenticeship details in the account projection</a>
                    <p>
                        The download includes the details of apprenticeships used to create this projection
                    </p>
                </li>
                <li>
                    <a id="projections_csvdownload" asp-route="@RouteNames.DownloadCsv" asp-route-hashedAccountId="@Model.HashedAccountId" class="govuk-link">Account projection table</a>
                    <p>
                        The download includes the details of the data in the table shown on this page
                    </p>
                </li>
            </ul>
        </div>
    </div>
</div>

<!-- CHART -->

<div class="chart-container" aria-hidden="true">
    <div class="chart-data" data-dates="@Model.DatesStringArray" data-values="@Model.BalanceStringArray"></div>
    <h2 class="govuk-heading-l">Funding projection chart</h2>
    <p>Account funds over time</p>
    <div id="chart" aria-hidden="true"></div>
</div>


<!-- Projection -->
<h2 class="govuk-heading-l govuk-!-margin-top-5">Your account projection</h2>
<div class="govuk-grid-row" id="account-projection">
    <div class="govuk-grid-column-two-thirds">
        <p>A month by month projection of your account balance.</p>
        <p>
            <b>Current balance: </b> @Model.CurrentBalance.FormatCost()
        </p>
    </div>
    <div class="govuk-grid-column-one-third pending-completion-payments">
        <div class="govuk-inset-text">
            <p class="govuk-body-s govuk-!-margin-0">Overdue completion payments</p>
            <span class="govuk-heading-m">@Model.OverdueCompletionPayments.FormatCost()</span>
            <details class="govuk-details" data-module="govuk-details">
                <summary class="govuk-details__summary">What does this figure mean?</summary>
                <div class="govuk-!-padding-top-2">
                    <p class="govuk-!-margin-0 govuk-body-s">This is the value of your overdue completion payments where the apprenticeships have overrun the planned completion date.</p>
                </div>
            </details>
        </div>
    </div>
</div>


<div class="govuk-notification-banner govuk-notification-banner--important">
  <div class="govuk-notification-banner__content">
    <h3 class="govuk-notification-banner__heading">
      Funds will expire from May 2019
    </h3>
    <p>
        The account projection table now includes an estimate of the funds that will expire from May 2019 onwards. Look at <a asp-route="@RouteNames.ExpiredFundsGuidance" asp-route-hashedAccountId="@Model.HashedAccountId" target="_blank" class="govuk-link">our guidance on expired funds</a> to find out what expired funds are and how we calculate them.
    </p>
    <p>
        You can also find this guidance when you click on the info button under 'Expired funds' in the account projection table.
    </p>
  </div>
</div>


        @foreach (var x in Model.ProjectionTables)
        {
            <h3 class="govuk-heading-m">@x.Key.FirstStartDate.ToGdsFormatWithoutDay() to @x.Key.LastEndDate.ToGdsFormatWithoutDay()</h3>
            @:<table class="govuk-table  das-table--condensed">
                <thead>
                    @if (Model.DisplayCoInvestment)
                        {
                        <tr class="govuk-table__row">
                            <th class="govuk-table__header" colspan="5"></th>
                            <th colspan="2" class="govuk-table__header govuk-!-text-align-centre app-table-cell-highlight">Co-investment</th>
                            <th class="govuk-table__header"></th>
                        </tr>
                      }
                    <tr  class="govuk-table__row">
                        <th class="govuk-table__header das-table-cell-width-10" scope="col">Date</th>
                        <th scope="col" class="govuk-table__header govuk-table__header--numeric" title="">
                            Cost of <br />training<br />
                            <span tabindex="0" class="app-tooltip" title="Cost of apprenticeships that you’ve agreed to fund, which includes any transferred funds">info</span>
                        </th>
                        <th scope="col" class="govuk-table__header govuk-table__header--numeric" title="">
                            Completion payments<br />
                            <span tabindex="0" class="app-tooltip" title="This column shows the total cost of all completion payments due for the month. The completion payment is shown in the month after the apprentice plans to end their apprenticeship. It is 20% of the total cost of each apprenticeship">info</span>
                        </th>
                        <th scope="col" class="govuk-table__header govuk-table__header--numeric" title="Expired Funds">
                            Expired funds<br />
                            <a asp-route="@RouteNames.ExpiredFundsGuidance" asp-route-hashedAccountId="@Model.HashedAccountId"  class="app-tooltip" target="_blank">info</a>
                        </th>
                        <th scope="col" class="govuk-table__header govuk-table__header--numeric" title="">
                            Funds in<br />
                            <span tabindex="0" class="app-tooltip" title="Total of the last month's received levy funds from your PAYE schemes including the 10% top up, which will be updated on the 20th of each month and any transferred funds you've received. The same figure is used throughout the forecast">info</span>
                        </th>
                        @if (Model.DisplayCoInvestment)
                        {
                            <th scope="col" class="govuk-table__header govuk-table__header--numeric app-table-cell-highlight" title="">
                                Your <br />contribution (5%)<br />
                                <span tabindex="0" class="app-tooltip" title="Amount of co-investment you pay if your funds run out, which will be 5% of the outstanding balance for that month">info</span>
                            </th>
                            <th scope="col" class="govuk-table__header govuk-table__header--numeric app-table-cell-highlight" title="">
                                Government <br /> contribution (95%)<br />
                                <span tabindex="0" class="app-tooltip" title="Amount of co-investment the government will pay, which is 95% of the outstanding balance for that month, up to the funding band maximum">info</span>
                            </th>
                        }
                        <th scope="col" class="govuk-table__header govuk-table__header--numeric" title="">
                            Balance<br />
                            <span tabindex="0" class="app-tooltip" title="The estimated funds you have left at the end of the month">info</span>
                        </th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in x.Value)
                    {
                        <tr  class="govuk-table__row">
                            <td class="govuk-table__cell">@item.Date.ToGdsFormatShortMonthWithoutDay()</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">@item.CostOfTraining.FormatCost()</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">@item.CompletionPayments.FormatCost()</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">@item.ExpiredFunds.FormatCost()</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">@item.FundsIn.FormatCost()</td>
                            @if (Model.DisplayCoInvestment)
                            {
                                <td class="govuk-table__cell govuk-table__cell--numeric app-table-cell-highlight">
                                    @if (item.CoInvestmentEmployer == 0)
                                    {
                                        <span>–</span>
                                    }
                                    else
                                    {
                                        <span>@item.CoInvestmentEmployer.FormatCost()</span>
                                    }
                                </td>
                                <td class="govuk-table__cell govuk-table__cell--numeric app-table-cell-highlight">
                                    @if (item.CoInvestmentGovernment == 0)
                                    {
                                        <span>–</span>
                                    }
                                    else
                                    {
                                        <span>@item.CoInvestmentGovernment.FormatCost()</span>
                                    }
                                </td>
                            }
                            <td class="govuk-table__cell govuk-table__cell--numeric">@item.Balance.FormatCost()</td>
                        </tr>
                    }
                </tbody>
            @:</table>
        }

<details class="govuk-details"  data-module="govuk-details">
    <summary class="govuk-details__summary">Where is the end-point assessment cost?</summary>
    <div class="govuk-details__text">
        <p>The end-point assessment cost is paid by your training provider to your end-point assessment organisation (EPAO).</p>
        <p>The funds for this payment are included in the training and completion costs.</p>
    </div>
</details>

<div class="govuk-inset-text das-inset-text--filled das-inset-text--highlight">
    <h3 class="govuk-heading-m">Disclaimer</h3>
    <p class="govuk-body-s">This projection tool is designed to illustrate what your funds may look like based on the apprenticeships currently in your apprenticeship service account. The projection tool includes the apprenticeships funded by your pledges.</p>
    <p class="govuk-body-s">The actual amount of funds available is likely to vary if there are any changes made to your apprenticeship arrangements, including, for example, changes in the number of apprentices employed, or the cost and duration of their training.</p>
    <p class="govuk-body-s">You should therefore not rely solely on the information provided by this tool when making decisions about how to spend future levy funds.</p>
</div>

<details id="projection-survey" class="govuk-details app-survey-details" data-module="govuk-details">
    <summary class="govuk-details__summary govuk-link--inverse app-survey-details__summary">Help us improve this section</summary>
    <div class="app-survey-details__wrapper">
        <iframe src="https://www.smartsurvey.co.uk/s/7DFNM/"></iframe>
    </div>
</details>


@section breadcrumb {
    @if (!string.IsNullOrEmpty(Model.BackLink))
    {
        <a href="@Model.BackLink" aria-label="Back" class="govuk-back-link">Back</a>
    }

    <div class="breadcrumbs">
        <ol role="navigation">
            @* TODO FAI-625 - Should just be back link *@
            @* <li><a href="@Url.ExternalUrlAction("teams")">Home</a></li> *@
            @* <li><a href="@Url.ExternalUrlAction("balance")">Finance</a></li> *@
            @* <li>Funding projection</li> *@
        </ol>
    </div>
}

@section styles {
    <link href="/css/c3.min.css" rel="stylesheet" no-cdn />
}

@section javascript {
    <script src="/js/d3.min.js" no-cdn></script>
    <script src="/js/c3.min.js" no-cdn></script>
}

