@using SFA.DAS.Forecasting.Web.Extensions
@model SFA.DAS.Forecasting.Web.ViewModels.BalanceViewModel

@{
    ViewBag.Title = "Forecasting";
}

<div class="grid-row">
    <div class="column-full">
        <h1 class="heading-xlarge heading-dashboard">Forecasting</h1>
    </div>
</div>

<div class="grid-row">
    <div class="column-two-thirds">
        <p>The figures below show the funds available to you for the duration of your apprenticeships. These figures are a representation of the data you have filled in.</p>
    </div>

    <div class="form-group">
        <button class="button" data-clipboard-action="copy" data-clipboard-target="#balancesheet">
            Copy to clipboard
        </button>
    </div>

    <details>
        <summary>How the cost of is calculated</summary>

        <p>The balance sheet is based on last month’s payment for both levy credit and cost of training, it doesn’t include any future apprenticeship starts or apprentices who’ve already started and payment has not yet been made to their training provider.</p>
    </details>


    <div id="tabs-container">
        <ul class="tabs-menu">
            <li class="current"><a href="#tab-1">Balance sheet</a></li>
            <li><a href="#tab-2">Apprentices paid to date</a></li>
            <li><a href="#tab-3">Data visualisation</a></li>
        </ul>
        <div id="tab-1" class="tab-content">

            <table class="results-table sticky-header" id="balancesheet">
                <thead>
                    <tr>
                        <th class="nowrap">Date</th>
                        <th class="financial">Levy credit</th>
                        <th class="financial">Cost of training</th>
                        <th class="financial">Completion payments</th>
                        <th class="financial">Expired funds</th>
                        <th class="financial">Balance</th>
                    </tr>
                </thead>
                <tbody>
                @foreach (var item in Model.BalanceItemViewModels)
                {
                    <tr>
                        <td class="nowrap">@item.Date.ToGdsFormatLongMonthNameWithoutDay()</td>
                        <td class="financial">@item.LevyCredit.FormatCost()</td>
                        <td class="financial">@item.CostOfTraining.FormatCost()</td>
                        <td class="financial">@item.CompletionPayments.FormatCost()</td>
                        <td class="financial">@item.ExpiredFunds.FormatCost()</td>
                        <td class="financial">@item.Balance.FormatCost()</td>
                    </tr>
                }

                @*<tr>
                    <td class="nowrap">December 2017</td>
                    <td class="financial">7,000.00</td>
                    <td class="financial">1,820.26</td>
                    <td class="financial">0</td>
                    <td class="financial">0</td>
                    <td class="financial">47,000.00</td>
                </tr>
                    <tr><td class="nowrap">January 2018</td><td class="financial">7,000.00</td><td class="financial">1,820.26</td><td class="financial">0</td><td class="financial">0</td><td class="financial">52,179.74</td></tr><tr><td class="nowrap">February 2018</td><td class="financial">7,000.00</td><td class="financial">1,820.26</td><td class="financial">0</td><td class="financial">0</td><td class="financial">57,359.48</td></tr><tr><td class="nowrap">March 2018</td><td class="financial">7,000.00</td><td class="financial">1,820.26</td><td class="financial">0</td><td class="financial">0</td><td class="financial">62,539.22</td></tr><tr><td class="nowrap">April 2018</td><td class="financial">7,000.00</td><td class="financial">1,820.26</td><td class="financial">0</td><td class="financial">0</td><td class="financial">67,718.96</td></tr><tr><td class="nowrap">May 2018</td><td class="financial">7,000.00</td><td class="financial">1,820.26</td><td class="financial">0</td><td class="financial">0</td><td class="financial">72,898.70</td></tr><tr><td class="nowrap">June 2018</td><td class="financial">7,000.00</td><td class="financial">1,820.26</td><td class="financial">0</td><td class="financial">0</td><td class="financial">78,078.44</td></tr><tr><td class="nowrap">July 2018</td><td class="financial">7,000.00</td><td class="financial">1,820.26</td><td class="financial">0</td><td class="financial">0</td><td class="financial">83,258.18</td></tr><tr><td class="nowrap">August 2018</td><td class="financial">7,000.00</td><td class="financial">1,820.26</td><td class="financial">0</td><td class="financial">0</td><td class="financial">88,437.92</td></tr><tr><td class="nowrap">September 2018</td><td class="financial">7,000.00</td><td class="financial">1,820.26</td><td class="financial">20,300.00</td><td class="financial">0</td><td class="financial">93,617.66</td></tr><tr><td class="nowrap">October 2018</td><td class="financial">7,000.00</td><td class="financial">1,820.26</td><td class="financial">5,600.00</td><td class="financial">0</td><td class="financial">98,797.40</td></tr><tr><td class="nowrap">November 2018</td><td class="financial">7,000.00</td><td class="financial">1,820.26</td><td class="financial">0</td><td class="financial">0</td><td class="financial">103,977.14</td></tr><tr><td class="nowrap">December 2018</td><td class="financial">7,000.00</td><td class="financial">1,686.93</td><td class="financial">500</td><td class="financial">0</td><td class="financial">108,790.21</td></tr><tr><td class="nowrap">January 2019</td><td class="financial">7,000.00</td><td class="financial">1,686.93</td><td class="financial">0</td><td class="financial">0</td><td class="financial">114,103.28</td></tr><tr><td class="nowrap">February 2019</td><td class="financial">7,000.00</td><td class="financial">1,686.93</td><td class="financial">0</td><td class="financial">0</td><td class="financial">119,416.35</td></tr><tr><td class="nowrap">March 2019</td><td class="financial">7,000.00</td><td class="financial">1,686.93</td><td class="financial">0</td><td class="financial">0</td><td class="financial">124,729.42</td></tr><tr><td class="nowrap">April 2019</td><td class="financial">7,000.00</td><td class="financial">1,686.93</td><td class="financial">0</td><td class="financial">0</td><td class="financial">130,042.49</td></tr><tr><td class="nowrap">May 2019</td><td class="financial">7,000.00</td><td class="financial">1,686.93</td><td class="financial">0</td><td class="financial">0</td><td class="financial">135,355.56</td></tr><tr><td class="nowrap">June 2019</td><td class="financial">7,000.00</td><td class="financial">1,686.93</td><td class="financial">0</td><td class="financial">0</td><td class="financial">140,668.63</td></tr><tr><td class="nowrap">July 2019</td><td class="financial">7,000.00</td><td class="financial">1,686.93</td><td class="financial">0</td><td class="financial">0</td><td class="financial">145,981.70</td></tr><tr><td class="nowrap">August 2019</td><td class="financial">7,000.00</td><td class="financial">433.33</td><td class="financial">7,200.00</td><td class="financial">0</td><td class="financial">145,348.37</td></tr><tr><td class="nowrap">September 2019</td><td class="financial">7,000.00</td><td class="financial">0</td><td class="financial">2,600.00</td><td class="financial">0</td><td class="financial">149,748.37</td></tr><tr><td class="nowrap">October 2019</td><td class="financial">7,000.00</td><td class="financial">0</td><td class="financial">0</td><td class="financial">0</td><td class="financial">156,748.37</td></tr><tr><td class="nowrap">November 2019</td><td class="financial">7,000.00</td><td class="financial">0</td><td class="financial">0</td><td class="financial">0</td><td class="financial">163,748.37</td></tr><tr><td class="nowrap">December 2019</td><td class="financial">7,000.00</td><td class="financial">0</td><td class="financial">0</td><td class="financial">0</td><td class="financial">170,748.37</td></tr><tr><td class="nowrap">January 2020</td><td class="financial">7,000.00</td><td class="financial">0</td><td class="financial">0</td><td class="financial">0</td><td class="financial">177,748.37</td></tr><tr><td class="nowrap">February 2020</td><td class="financial">7,000.00</td><td class="financial">0</td><td class="financial">0</td><td class="financial">0</td><td class="financial">184,748.37</td></tr><tr><td class="nowrap">March 2020</td><td class="financial">7,000.00</td><td class="financial">0</td><td class="financial">0</td><td class="financial">0</td><td class="financial">191,748.37</td></tr><tr><td class="nowrap">April 2020</td><td class="financial">7,000.00</td><td class="financial">0</td><td class="financial">0</td><td class="financial">0</td><td class="financial">198,748.37</td></tr><tr><td class="nowrap">May 2020</td><td class="financial">7,000.00</td><td class="financial">0</td><td class="financial">0</td><td class="financial">0</td><td class="financial">205,748.37</td></tr><tr><td class="nowrap">June 2020</td><td class="financial">7,000.00</td><td class="financial">0</td><td class="financial">0</td><td class="financial">0</td><td class="financial">212,748.37</td></tr><tr><td class="nowrap">July 2020</td><td class="financial">7,000.00</td><td class="financial">0</td><td class="financial">0</td><td class="financial">0</td><td class="financial">219,748.37</td></tr><tr><td class="nowrap">August 2020</td><td class="financial">7,000.00</td><td class="financial">0</td><td class="financial">0</td><td class="financial">0</td><td class="financial">226,748.37</td></tr><tr><td class="nowrap">September 2020</td><td class="financial">7,000.00</td><td class="financial">0</td><td class="financial">0</td><td class="financial">0</td><td class="financial">233,748.37</td></tr><tr><td class="nowrap">October 2020</td><td class="financial">7,000.00</td><td class="financial">0</td><td class="financial">0</td><td class="financial">0</td><td class="financial">240,748.37</td></tr><tr><td class="nowrap">November 2020</td><td class="financial">7,000.00</td><td class="financial">0</td><td class="financial">0</td><td class="financial">0</td><td class="financial">247,748.37</td></tr><tr><td class="nowrap">December 2020</td><td class="financial">7,000.00</td><td class="financial">0</td><td class="financial">0</td><td class="financial">0</td><td class="financial">254,748.37</td></tr><tr><td class="nowrap">January 2021</td><td class="financial">7,000.00</td><td class="financial">0</td><td class="financial">0</td><td class="financial">0</td><td class="financial">261,748.37</td></tr><tr><td class="nowrap">February 2021</td><td class="financial">7,000.00</td><td class="financial">0</td><td class="financial">0</td><td class="financial">0</td><td class="financial">268,748.37</td></tr><tr><td class="nowrap">March 2021</td><td class="financial">7,000.00</td><td class="financial">0</td><td class="financial">0</td><td class="financial">0</td><td class="financial">275,748.37</td></tr><tr><td class="nowrap">April 2021</td><td class="financial">7,000.00</td><td class="financial">0</td><td class="financial">0</td><td class="financial">1,505.88</td><td class="financial">281,242.49</td></tr><tr><td class="nowrap">May 2021</td><td class="financial">7,000.00</td><td class="financial">0</td><td class="financial">0</td><td class="financial">3,192.81</td><td class="financial">285,049.68</td></tr><tr><td class="nowrap">June 2021</td><td class="financial">7,000.00</td><td class="financial">0</td><td class="financial">0</td><td class="financial">4,879.74</td><td class="financial">287,169.94</td></tr><tr><td class="nowrap">July 2021</td><td class="financial">7,000.00</td><td class="financial">0</td><td class="financial">0</td><td class="financial">6,566.67</td><td class="financial">287,603.27</td></tr><tr><td class="nowrap">August 2021</td><td class="financial">7,000.00</td><td class="financial">0</td><td class="financial">0</td><td class="financial">7,000.00</td><td class="financial">287,603.27</td></tr><tr><td class="nowrap">September 2021</td><td class="financial">7,000.00</td><td class="financial">0</td><td class="financial">0</td><td class="financial">7,000.00</td><td class="financial">287,603.27</td></tr><tr><td class="nowrap">October 2021</td><td class="financial">7,000.00</td><td class="financial">0</td><td class="financial">0</td><td class="financial">7,000.00</td><td class="financial">287,603.27</td></tr><tr><td class="nowrap">November 2021</td><td class="financial">7,000.00</td><td class="financial">0</td><td class="financial">0</td><td class="financial">7,000.00</td><td class="financial">287,603.27</td></tr><tr><td class="nowrap">December 2021</td><td class="financial">7,000.00</td><td class="financial">0</td><td class="financial">0</td><td class="financial">7,000.00</td><td class="financial">287,603.27</td></tr>*@
                </tbody>
            </table>
        </div>


        <div id="tab-2" class="tab-content" style="display: none;">
            <table class="hidden">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Description</th>
                        <th>Amount</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="">September 2017</td>
                        <td>Acme Training Plc</td>
                        <td> £313.40 </td>
                        <td><a href="#">Details</a></td>
                    </tr>
                    <tr>
                        <td class="">September 2017</td>
                        <td>Anvil Mentoring and Training Ltd</td>
                        <td> £300.00 </td>
                        <td><a href="#">Details</a></td>
                    </tr>
                    <tr>
                        <td class="">September 2017</td>
                        <td>Anvil Group Plc</td>
                        <td> £133.33 </td>
                        <td><a href="#">Details</a></td>
                    </tr>
                    <tr>
                        <td class="">September 2017</td>
                        <td>Best Western Training Ltd</td>
                        <td>£133,33</td>
                        <td><a href="#">Details</a></td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>
