@using SFA.DAS.Forecasting.Web.Extensions
@model SFA.DAS.Forecasting.Web.ViewModels.BalanceViewModel

@{
    ViewBag.Title = "Funding projection";
}


<div class="grid-row funding-projection">
    <div class="column-two-thirds">
        <div class="hgroup form-group">
            <h1 class="heading-xlarge">
                Funding projection
            </h1>
            @if (Model.ShowProjection)
            {
                <p>
                    The figures below show the estimated funds that may be available to you for the duration of your apprenticeships.
                </p>

                <details>
                    <summary>More information</summary>
                    <div>
                        <p>
                        These figures are based on the current information in your account and the data provided by your training provider which is used to calculate funding.
                        <p/>
                        <p>
                            The projection doesn’t include any future apprenticeship starts or apprentices who’ve already started and payment has not yet been made to their training provider. These will be added to the funding projection soon.
                        </p>
                        <p>
                            In the next update of this tool, you’ll be able to estimate how many apprenticeships you could fund in the future - either by transferring any remaining funds to another employer or by taking on more apprentices yourself.
                        </p>
                    </div>
                </details>
            }
            else
            {
                <div class="info-summary">
                    <p>The funding projection tool will be available for your account soon.</p>
                </div>
            }
        </div>
    </div>
    @if (Model.ShowProjection)
    {
        <div class="column-one-third">
            <div class="related">
                <h3 class="heading-small">Download data as a CSV file</h3>
                <div class="form-group">
                    <ul class="list list-links">

                        <li>
                            <a id="apprenticeship_csvdownload" href="@Url.Action("DownloadApprenticeshipDetailsCsv", "Forecasting", new { hashedAccountId = Model.HashedAccountId }, null)" class="">
                                Apprenticeship details in the account projection
                            </a>
                            <p>
                                The download includes the details of apprenticeships used to create this projection
                            </p>
                        </li>

                        <li>
                            <a id="projections_csvdownload" href="@Url.Action("Csv", "Forecasting", new { hashedAccountId = Model.HashedAccountId }, null)" class="">
                                Account projection table
                            </a>
                            <p>
                                The download includes the details of the data in the table shown on this page
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>    
    }
    
</div>

@if (Model.ShowProjection)
{


    <!-- CHART -->
    <div class="grid-row">
        <div class="column-full">
            <div class="chart-container">
                <div class="chart-data"
                     data-dates="@Model.DatesStringArray"
                     data-values="@Model.BalanceStringArray">

                </div>
                <h2 class="heading-large">Funding Projection Chart</h2>
                <p>Account funds over time</p>
                <div id="chart"></div>
            </div>
        </div>
    </div>

    <!-- Projection -->
    <h4 class="heading-large">Your account projection</h4>
    <div class="grid-row" id="account-projection">
        <div class="column-two-thirds">
            <p>A month by month projection of your account balance.</p>
            <p>
                <span class="bold">Current Balance: </span> @Model.CurrentBalance.FormatCost()
            </p>
        </div>
        <div class="column-one-third pending-completion-payments">
            <div class="panel panel-width-thin">
                <p>Overdue completion payments</p>
                <span class="heading-medium">@Model.OverdueCompletionPayments.FormatCost()</span>
                <details>
                    <summary>What does this figure mean?</summary>
                    <div class="">
                        <p>This is the value of your overdue completion payments where the apprenticeships have overrun the planned completion date.</p>
                    </div>
                </details>
            </div>
        </div>
    </div>

    <div class="grid-row">
        <div class="column-full" id="BalanceSheet-Tables">

            @foreach (var x in Model.ProjectionTables)
            {
                <h3 class="heading-medium">@x.Key.FirstStartDate.ToGdsFormatWithoutDay() to @x.Key.LastEndDate.ToGdsFormatWithoutDay()</h3>
                @:<table class="small balancesheet">
                <thead>
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    @if (Model.DisplayCoInvestment)
                    {
                        <th colspan="2" class="co-invest-head grey-bg">Co-investment</th>
                    }
                    <th></th>
                </tr>
                <tr>
                    <th style="width: 60px;">Date</th>
                    <th class="financial tippy" data-tippy-trigger="click" title="Cost of apprenticeships that have already started and currently being paid for.  This figure also includes any transfers you’ve made. Apprenticeships that have not started or been paid for are not included in this column">
                        Cost of <br/>training<br/>
                        <span class="tip-info"><span class="info-title">info</span></span>
                    </th>
                    <th class="financial tippy" data-tippy-trigger="click" title="This column shows the total cost of all completion payments due for the month. The completion payment is shown in the month after the apprentice plans to end their apprenticeship. It is 20% of the total cost of each apprenticeship">
                        Completion payments<br/>
                        <span class="tip-info"><span class="info-title">info</span></span>
                    </th>
                    <th class="financial tippy" data-tippy-trigger="click" title="These figures are not currently shown in the projection tool, but will be soon. Funds will start to expire from May 2019">
                        Expired funds<br/>
                        <span class="tip-info"><span class="info-title">available soon</span></span>
                    </th>
                    <th class="financial tippy" data-tippy-trigger="click" title="Total of the last month's received levy funds from your PAYE schemes including the 10% top up, which will be updated on the 20th of each month and any transferred funds you've received. The same figure is used throughout the forecast">Funds in<br/>
                        <span class="tip-info"><span class="info-title">info</span></span>
                    </th>
                    @if (Model.DisplayCoInvestment)
                    {
                        <th class="financial grey-bg tippy" data-tippy-trigger="click" title="Amount of co-investment you pay if your funds run out which will be 10% of the outstanding balance for that month">
                            Your <br/>contribution (10%)<br/>
                            <span class="tip-info"><span aria-hidden="true" class="info-title">info</span></span>
                        </th>
                        <th class="financial grey-bg tippy" data-tippy-trigger="click" title="Amount of co-investment the government will pay, which is 90% of the outstanding balance for that month, up to the funding band maximum">
                            Government <br/> contribution (90%)<br/>
                            <span class="tip-info"><span class="info-title">info</span></span>
                        </th>
                    }
                    <th class="financial tippy" data-tippy-trigger="click" title="The estimated funds you have left at the end of the month">
                        Balance<br/>
                        <span class="tip-info"><span class="info-title">info</span></span>
                    </th>
                </tr>
                </thead>
                <tbody>

                @foreach (var item in x.Value)
                {
                    <tr>
                        <td>@item.Date.ToGdsFormatShortMonthWithoutDay()</td>
                        <td class="financial">@item.CostOfTraining.FormatCost()</td>
                        <td class="financial">@item.CompletionPayments.FormatCost()</td>
                        <td class="financial">
                            <span>–</span>
                        </td>
                        <td class="financial">@item.FundsIn.FormatCost()</td>
                        @if (Model.DisplayCoInvestment)
                        {
                            <td class="financial grey-bg">
                                @if (item.CoInvestmentEmployer == 0)
                                {
                                    <span>–</span>
                                }
                                else
                                {
                                    <span>@item.CoInvestmentEmployer.FormatCost()</span>
                                }
                            </td>
                            <td class="financial grey-bg">
                                @if (item.CoInvestmentGovernment == 0)
                                {
                                    <span>–</span>
                                }
                                else
                                {
                                    <span>@item.CoInvestmentGovernment.FormatCost()</span>
                                }
                            </td>
                        }
                        <td class="financial">@item.Balance.FormatCost()</td>
                    </tr>
                }
                </tbody>
                @:</table>
            }

            <details>
                <summary>Where is the end-point assessment cost?</summary>
                <div class="panel panel-width-thin">

                    <p>
                        The end-point assessment cost is paid by your training provider to your end-point assessment organisation (EPAO).
                    </p>
                    <p>
                        The funds for this payment are included in the training and completion costs.
                    </p>
                </div>
            </details>

        </div>
    </div>
    <div class="grid-row">
        <div class="column-full">
            <div class="info-summary">
                <h3 class="heading-medium">Disclaimer</h3>
                <p>This tool is designed to illustrate what your funds may look like based on the apprenticeships currently in your apprenticeship service account.</p>
                <p>The actual amount of funds available is likely to vary if there are any changes made to your apprenticeship arrangements, including, for example, changes in the number of apprentices employed, or the cost and duration of their training.</p>
                <p>You should therefore not rely solely on the information provided by this tool when making decisions about how to spend future levy funds.</p>
            </div>

            <details class="projection-survey">
                <summary>Help us improve this section</summary>
                <iframe src="https://www.smartsurvey.co.uk/s/7DFNM/">

                </iframe>
            </details>
        </div>

    </div>
}
@section breadcrumb {
    @if (!string.IsNullOrEmpty(Model.BackLink))
    {
        <div class="breadcrumbs">
            <a href="@Model.BackLink" aria-label="Back" class="back-link">Back</a>
        </div>
    }
}
