@using SFA.DAS.Forecasting.Web.Extensions
@model SFA.DAS.Forecasting.Web.ViewModels.AddApprenticeshipViewModel

@{
    ViewBag.Title = Model.Name;
    ViewBag.Description = "Add Apprenticeships to your Estimation";
}

<style>
    .HideFundingCapMessage {
        display: none !important;
    }
</style>

@using (@Html.BeginForm("Save", "Estimation", FormMethod.Post))
{

    <main id="content" role="main" tabindex="-1">
        <div id="estimate-add-apprenticeship">
            @*<a href="#" class="link-back">Back</a>*@
            @Html.HiddenFor(model => model.Name)
            @Html.HiddenFor(model => model.PreviousCourseId)

            <div class="error-summary @HideShowValidation("")  validation-summary-max-funding" role="alert" aria-labelledby="error-summary-heading-example-1" tabindex="-1">
                <h1 class="heading-medium error-summary-heading" id="error-summary-heading-example-1">
                    Errors to fix
                </h1>

                <p>Please check the details you have entered against the information that's needed.</p>

                <ul class="error-summary-list list list-links">
                    <li class="@HideShowValidation("NoApprenticeshipSelected")" id="noStandardSelected"><a href="#select2-chosse-apprenticeship-container">You must choose 1 apprenticeship</a></li>
                    <li class="@HideShowValidation("NoNumberOfApprentices")" id="noNumberOfApprentices"><a href="#no-of-app">Make sure you have at least 1 or more apprentices</a></li>
                    <li class="@HideShowValidation("NoNumberOfMonths")" id="noLength"><a href="#levy-length">The number of months was not entered</a></li>
                    <li class="@HideShowValidation("ShortNumberOfMonths")" id="shortLength"><a href="#levy-length">The number of months must be 12 months or more</a></li>
                    <li class="@HideShowValidation("NoStartMonth")" id="noStartMonth"><a href="#startDateMonth">The start month was not entered</a></li>
                    <li class="@HideShowValidation("NoStartYear")" id="noStartYear"><a href="#startDateYear">The start year was not entered</a></li>
                    <li class="@HideShowValidation("LateDate")" id="wrongDate"><a href="#startDateMonth">The start date entered must be in the next 4 years</a></li>
                    <li class="@HideShowValidation("StartDateInPast")" id="startDateInPast"><a href="#startDateMonth">The start date cannot be in the past</a></li>
                    <li class="@HideShowValidation("StartDateBeforeMay2018")" id="startDateBeforeMay2018"><a href="#startDateMonth">The start date must be on or after May 2018</a></li>
                    <li class="@HideShowValidation("OverCap")" id="overCap"><a href="#levy-value">The total cost can't be higher than the total government funding band maximum for this apprenticeship</a></li>
                    <li class="@HideShowValidation("NoCost")" id="noCost"><a href="#levy-value">The total training cost was not entered</a></li>
                </ul>
            </div>


            <div class="success-summary hidden" id="apprenticeshipAdded">
                <h1 class="heading-medium">Apprenticeship added</h1>
                <p>
                    The apprenticeship <span class="apprenticeship-name">{apprenticeship}</span> has been added.
                </p>
            </div>

            <div class="grid-row">
                <div class="column-two-thirds">
                    <div class="hgroup form-group">
                        <h1 class="heading-xlarge">Add apprenticeships to estimate cost</h1>
                        <p>Add the apprenticeship details so you can estimate the cost and see how much you could transfer to another employer. We will show the funding band maximum value for the apprenticeship and you can adjust this figure should you need to.</p>
                    </div>
                </div>
            </div>

            <form method="post">
                <div class="grid-row">
                    <div class="column-two-thirds">

                        <div class="form-group hidden">
                            <fieldset class="inline">
                                <h2 class="heading-small">Are you transferring funds to another employer for this apprenticeship?</h2>
                                <div class="multiple-choice">
                                    <input id="radio-inline-1" type="radio" name="radio-inline-group" value="1">
                                    <label for="radio-inline-1">Yes</label>
                                </div>
                                <div class="multiple-choice">
                                    <input id="radio-inline-2" type="radio" name="radio-inline-group" value="0">
                                    <label for="radio-inline-2">No</label>
                                </div>
                            </fieldset>
                        </div>


                        <div class="form-group">
                            <label class="form-label-bold" for="chosse-apprenticeship">Choose apprenticeship</label>
                            @Html.DropDownListFor(model => model.ApprenticeshipToAdd.CourseId, @Model.ApprenticeshipList(), new { @class = "form-control form-control-3-4", aria_label = "Apprenticeship training course", name = "chosse-apprenticeship", id = "chosse-apprenticeship" })
                        </div>


                        <div class="form-group no-of-apprentice">
                            <label class="form-label-bold" for="no-of-app">Number of apprentices</label>
                            @Html.TextBoxFor(model => model.ApprenticeshipToAdd.ApprenticesCount, new { @class = "form-control", aria_label = "Number of apprentices", name = "no-of-app", id = "no-of-app", type = "number" })
                        </div>


                        <div class="form-group no-of-months">
                            <label class="form-label-bold" for="levy-length">Number of months</label>
                            <span class="form-hint">Apprenticeships must be a minimum of 12 months</span>
                            @Html.TextBoxFor(model => model.ApprenticeshipToAdd.NumberOfMonths, new { @class = "form-control", id = "levy-length", name = "levy-length", type = "text" })
                        </div>

                        <div class="form-group" id="dateWrapper">

                            <span class="form-label-bold">Start date</span>
                            <span class="form-hint">For example, 09 2018</span>
                            <div class="form-date">
                                <div class="form-group form-group-month">
                                    <label for="startDateMonth">Month</label>
                                    @Html.TextBoxFor(model => model.ApprenticeshipToAdd.StartMonth, new { @class = "form-control", name = "startDateMonth", id = "startDateMonth", type = "number", pattern = "[0-9]*", placeholder = "MM" })
                                </div>
                                <div class="form-group form-group-year">
                                    <label for="startDateYear">Year</label>
                                    @Html.TextBoxFor(model => model.ApprenticeshipToAdd.StartYear, new { @class = "form-control", name = "startDateYear", id = "startDateYear", type = "number", pattern = "[0-9]*", placeholder = "YYYY" })
                                </div>
                            </div>


                        </div>


                        <div class="form-group">
                            <label class="form-label-bold">Government funding band maximum</label>

                            @{
                        var CalculatedFundingCapMessageClass = "HideFundingCapMessage";
                        var defaultFundingCapMessageClass = "";

                        decimal? fundingCap = null;
                        int? apprenticeCount = null;
                        decimal? totalCap = null;

                        if (Model.ApprenticeshipToAdd.CalculatedTotalCap.HasValue && Model.ApprenticeshipToAdd.CalculatedTotalCap > 0)
                        {
                            fundingCap = Model.ApprenticeshipToAdd.AppenticeshipCourse.FundingCap;
                            apprenticeCount = Model.ApprenticeshipToAdd.ApprenticesCount;
                            totalCap = Model.ApprenticeshipToAdd.CalculatedTotalCap;
                            CalculatedFundingCapMessageClass = "";
                            defaultFundingCapMessageClass = "HideFundingCapMessage";
                        }

                        <span id="details-about-funding-calculated" class="form-hint @CalculatedFundingCapMessageClass">
                            Government funding band maximum for this apprenticeship is <span id="funding-cap-details">@fundingCap.FormatCost()</span><br />
                            Total government funding band maximum for <b id="apprentice-count-details">@apprenticeCount</b> apprentices is <b id="total-cap-details">@totalCap.FormatCost() </b>
                        </span>

                        <span id="details-about-funding" class="form-hint @defaultFundingCapMessageClass">
                            Choose an apprenticeship and number of apprentices to see this figure <br>
                            <a href="https://www.gov.uk/government/publications/apprenticeship-funding-bands" target="fundingbands">More information about maximum government funding bands</a>
                        </span>


                            }
                        </div>


                        <div class="form-group">
                            <label class="form-label-bold" for="levy-value">Total cost</label>
                            <span class="form-hint">You can change this number if the total cost is below the funding band maximum value - this is the highest amount you can transfer</span>
                            <label for="levy-value-2" class="form-label-bold">
                                £
                                @Html.TextBoxFor(model => model.ApprenticeshipToAdd.TotalCost, new { @class = "form-control levy-value", id = "levy-value", name = "levy-value", type = "text" })

                            </label>
                        </div>
                    </div>
                </div>


                <hr />

                <div class="grid-row">

                    <div class="column-full">
                        <button type="submit" id="save" name="save" value="Create" class="button save">Check if I can fund these</button>
                        @*<a class="button text-link pull-right" href="#" style="float: right;">Cancel</a>*@

                    </div>
                </div>
            </form>
            <div class="grid-row hidden" id="existingApps">
                <div class="column-full">
                    <h3 class="heading-medium">
                        Estimated transfer costs by apprenticeships
                    </h3>

                </div>
            </div>

        </div>
    </main>
}

@functions{
    public string HideShowValidation(string validatorToCheck)
    {
        if (validatorToCheck == string.Empty)
        {
            return Model.ValidationResults.Count > 0 ? string.Empty : "hidden";
        }
        
        return Model.ValidationResults.Count(x => x.FailureReason == validatorToCheck) > 0 ? string.Empty : "hidden";
    }
}

@section script {

    <script type="text/javascript">

        $(document).ready(function() {
            $("#chosse-apprenticeship").change(function() {
                calculateTotalCost();
                resetNumberOfMonths();
            });

            $("#no-of-app").change(function() {
                calculateTotalCost();
            });
        });

        function resetNumberOfMonths() {
            var courseId = $('#chosse-apprenticeship').val();
            var previousCourseId = $('#PreviousCourseId').val();
            if (courseId !== previousCourseId) {
                // reset previous course id when javascript intervenes

                var requestObject = {
                    courseId: courseId
                };
                $.ajax({
                    type: "POST",
                    url: '@Url.RouteUrl("GetDefaultNumberOfMonths", null)',
                    data: JSON.stringify(requestObject),
                    contentType: "application/json; charset=utf-8",
                    success: function(result) {
                        $('#levy-length').val(result.NumberOfMonths);
                        $('#PreviousCourseId').val(courseId);
                    }
                });
                //$('#levy-length').val(25);
                //$('#PreviousCourseId').val(courseId);
                //$('#PreviousNumberOfMonths').val(xxx);
            }

        }

        function calculateTotalCost() {
            var courseId = $('#chosse-apprenticeship').val();
            var noOfApprentices = parseInt($('#no-of-app').val());
            var levyValue = parseFloat($('#levy-value').val());

            var requestObject = {
                courseId: courseId,
                numberOfApprentices: noOfApprentices,
                levyValue: levyValue
            };

            if (courseId !== "" && noOfApprentices > 0) {
                $.ajax({
                    type: "POST",
                    url: '@Url.RouteUrl("CalculateTotalCost", null)',
                    data: JSON.stringify(requestObject),
                    contentType: "application/json; charset=utf-8",
                    success: function(result) {

                        $('#funding-cap-details').html(result.FundingCap);
                        $('#apprentice-count-details').html(result.NumberOfApprentices);
                        $('#total-cap-details').html(result.TotalFundingCap);
                        $('#details-about-funding').addClass("HideFundingCapMessage");
                        $('#details-about-funding-calculated').removeClass("HideFundingCapMessage");
                        $('#levy-value').val(result.TotalFundingCapValue);
                    }
                });

            } else {
                $('#details-about-funding').removeClass("HideFundingCapMessage");
                $('#details-about-funding-calculated').addClass("HideFundingCapMessage");
            }


        }
    </script>

}