@using SFA.DAS.Forecasting.Web.Configuration
@using Microsoft.AspNetCore.Mvc.ModelBinding
@model SFA.DAS.Forecasting.Web.ViewModels.RemoveApprenticeshipViewModel

@{
    ViewBag.Title = Model.CourseTitle;
    ViewBag.Description = "Remove Apprenticeships from your Estimation";
    ViewBag.GaData.Vpv = "/forecasting/estimation/page-confirm-apprenticeships-removal";
}

@section breadcrumb
{
    <a asp-route="@RouteNames.EstimatedCost" asp-route-hashedAccountId="@Model.HashedAccountId" asp-route-estimateName="@Model.EstimationName" asp-route-apprenticeshipRemoved="false" class="govuk-back-link">Back</a>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        @Html.Partial("_validationErrors")

        <h1 class="govuk-heading-xl">
            Remove apprenticeship
        </h1>
        <form asp-route="@RouteNames.RemoveApprenticeships" method="POST" asp-route-hashedAccountId="@Model.HashedAccountId" asp-route-estimationName="@Model.EstimationName" asp-route-id="@Model.ApprenticeshipId">
            <input asp-for="EstimationName" type="hidden"/>
            <input asp-for="HashedAccountId" type="hidden"/>
            <input asp-for="ApprenticeshipId" type="hidden"/>
            <input asp-for="NumberOfApprentices" type="hidden"/>
            <input asp-for="CourseTitle" type="hidden"/>
            <input asp-for="Level" type="hidden"/>

            <div class="govuk-form-group @(ViewData.ModelState.ContainsKey("ConfirmedDeletion") && ViewData.ModelState["ConfirmedDeletion"].Errors.Any()? "govuk-form-group--error" : "")">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s govuk-!-margin-bottom-4">Confirm you want to remove @Model.NumberOfApprentices @Model.CourseTitle level @Model.Level </legend>
                    @Html.ValidationMessageFor(m => m.ConfirmedDeletion, null, new {@class="govuk-error-message", id = "error-message-" + Html.IdFor(m => m.ConfirmedDeletion)})
                    <div class="govuk-radios" data-module="govuk-radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="radio-1" asp-for="ConfirmedDeletion" type="radio" value="true"/>
                            <label for="radio-1" class="govuk-label govuk-radios__label">Yes, I do want to remove this apprenticeship</label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="radio-2" asp-for="ConfirmedDeletion" type="radio" value="false"/>
                            <label for="radio-2" class="govuk-label govuk-radios__label">No, I want to keep this apprenticeship</label>
                        </div>
                    </div>
                </fieldset>
            </div>
            <button type="submit" class="govuk-button">Continue</button>
        </form>
    </div>
</div>
