@using SFA.DAS.Forecasting.Web.Configuration
@model SFA.DAS.Forecasting.Web.ViewModels.RemoveApprenticeshipViewModel

@{
    ViewBag.Title = Model.CourseTitle;
    ViewBag.Description = "Remove Apprenticeships from your Estimation";
    ViewBag.GaData.Vpv = "/forecasting/estimation/page-confirm-apprenticeships-removal";
}

@section breadcrumb
{
    <a asp-route="@RouteNames.EstimatedCost" asp-route-hashedAccountId="@Model.HashedAccountId" asp-route-estimateName="@Model.EstimationName" asp-route-apprenticeshipRemoved="false" class="link-back">Back</a>
}

<div class="grid-row">
    <div class="column-two-thirds">
        <div class="hgroup">
            <h1 class="heading-xlarge">
                Remove apprenticeship
            </h1>
            <p class="lede">You are about to remove @Model.NumberOfApprentices @Model.CourseTitle level @Model.Level.</p>
        </div>
    </div>
</div>

<div class="grid-row">
    <div class="column-full">

        <form asp-route="@RouteNames.RemoveApprenticeships" method="POST">
            <input asp-for="EstimationName" type="hidden"/>
            <input asp-for="HashedAccountId" type="hidden"/>
            <input asp-for="ApprenticeshipId" type="hidden"/>

            <div class="form-group @(!Model.HasConfirmed ? "errorClass" : "")">

                <label class="form-label-bold" for="email">Are you sure you want to do this?</label>
                @if (!Model.HasConfirmed)
                {
                    <span class="error-message">Please choose an option</span>
                }

                <fieldset>
                    <div class="multiple-choice">
                        <input id="radio-1" asp-for="ConfirmedDeletion" type="radio" value="true"/>
                        <label for="radio-1">Yes, I do want to remove this apprenticeship</label>
                    </div>
                    <div class="multiple-choice">
                        <input id="radio-2" asp-for="ConfirmedDeletion" type="radio" value="false"/>
                        <label for="radio-2">No, I want to keep this apprenticeship</label>
                    </div>
                </fieldset>
            </div>
            <button type="submit" class="button">Continue</button>

        </form>
    </div>
</div>
