@using SFA.DAS.Forecasting.Models.Payments
@using SFA.DAS.Forecasting.Web.Extensions
@model SFA.DAS.Forecasting.Web.ViewModels.EstimationPageViewModel

@{
    ViewBag.Title = "Estimated Cost";
}

<div id="js-breadcrumbs"></div>

<div class="grid-row">
    <div class="column-two-thirds">
        @if (Model.ApprenticeshipRemoved)
        {
            <div class="success-summary">
                <h3 class="heading-medium">Apprenticeship removed</h3>
            </div>
        }

    </div>
</div>

<div class="grid-row">
    <div class="column-two-thirds">
        <div class="hgroup form-group">
            <h1 class="heading-xlarge">Estimated costs</h1>

            @if (Model.Apprenticeships.TotalApprenticeshipCount > 0)
            {
                <p class="lede">This page shows:</p>
                <ul class="list list-bullet">

                    <li>apprenticeships you've added</li>
                    @if (Model.AnyLevyApprenticeships || Model.AnyTransferApprenticeships)
                    {
                        <li>your account funds</li>
                    }
                    @if (Model.AnyTransferApprenticeships)
                    {
                        <li>your remaining transfer allowance</li>
                    }

                </ul>
            }
            else
            {
                <div class="panel panel-width-thin">
                    <p>You have not selected any apprenticeships for your estimation. You need to select at least one apprenticeship to make an estimation.</p>
                </div>
            }

            <p>
                @{
                    var addApprenticeshipsCaption = "Add apprenticeships to your current estimate";
                    if (Model.Apprenticeships?.VirtualApprenticeships?.Count() > 0)
                    {
                        addApprenticeshipsCaption = "Add more apprenticeships to your current estimate";
                    }

                    <a class="button" href="@Url.RouteUrl("AddApprenticeships",new { hashedAccountId = Model.HashedAccountId,  estimationName = Model.EstimationName})">
                        @addApprenticeshipsCaption
                    </a>

                }

            </p>


        </div>

    </div>

</div>


@if (Model.Apprenticeships?.VirtualApprenticeships?.Count() > 0)
{

    <div class="grid-row">
        <div id="tabs-container">
            <ul class="tabs-menu">
                <li id="tab-apprenticeships-added" class="current"><a href="#apprenticeships-added">Apprenticeships added</a></li>
                <li id="tab-account-funds"><a href="#account-funds">Account funds</a></li>
                @if (Model.AnyTransferApprenticeships)
                {
                    <li id="tab-remaining-transfer-allowance"><a href="#remaining-transfer-allowance">Remaining transfer allowance</a></li>
                }
            </ul>

            <div id="account-funds" class="tab-content" style="display: none;">
                <div class="grid-row">
                    <div class="column-full">
                        <h2 class="heading-medium">This table shows your estimated costs against your account projection</h2>
                        <p><b>Monthly Funds in: </b>@Model.AccountFunds.MonthlyInstallmentAmount.FormatCost()</p>
                    </div>
                </div>

                <div class="grid-row">
                    <div class="column-full" id="AccountFunds-Tables">

                        @{
                            var newFinancialYearAccountFunds = true;
                            var startDateOfAccountFundsYear = Model.AccountFunds.Records.First().Date;
                        }

                        @foreach (var accountFund in Model.AccountFunds.Records)
                        {
                            var tableRowClass = accountFund.Balance <= 0 ? "error-row" : "";
                            var tableCellClass = accountFund.Balance <= 0 ? "error-messsage" : "";

                            if (newFinancialYearAccountFunds)
                            {
                                newFinancialYearAccountFunds = false;
                                var endYear = startDateOfAccountFundsYear.Month < 3 ? accountFund.Date.ToString("yyyy") : accountFund.Date.AddYears(1).ToString("yyyy");

                                if (accountFund.Date > new DateTime(2019, 3, 1))
                                {
                                    <h3 class="heading-medium">@accountFund.Date.ToGdsFormatWithoutDay() to March @endYear</h3>
                                    <div class="panel-warning2">
                                        <span class="icon"></span>
                                        <p>
                                            The estimate for the account balance projection does not yet show funds that are due to expire. You need to be aware that unused funds will expire after 24 months, which may affect the funds available to spend.
                                        </p>
                                    </div>
                                }
                                <h3 class="heading-medium">@accountFund.Date.ToGdsFormatWithoutDay() to March @endYear</h3>
                                @:<table class="small errorTable">
                                    <thead>
                                        <tr>
                                            <th class="nowrap">Date</th>
                                            <th class="financial tippy" data-tippy-trigger="click" title="Cost of apprenticeships that have already started and currently being paid for. Apprenticeships that have not started or been paid for are not included in this column">
                                                Your current costs
                                                <br />
                                                <span class="tip-info"><span class="info-title">info</span></span>
                                            </th>
                                            <th class="financial tippy" data-tippy-trigger="click" title="Cost of apprenticeships you’ve estimated using this tool">
                                                Cost of estimated apprenticeships
                                                <br />
                                                <span class="tip-info"><span class="info-title">info</span></span>
                                            </th>
                                            <th class="financial tippy" data-tippy-trigger="click" title="The estimated funds you have left at the end of the month">
                                                Balance
                                                <br />
                                                <span class="tip-info"><span class="info-title">info</span></span>
                                            </th>
                                        </tr>
                                    </thead>
                                    @:<tbody>




                                    }

                                    <tr class="@tableRowClass">
                                        <td class="nowrap">@accountFund.Date.ToGdsFormatShortMonthWithoutDay()</td>
                                        <td class="financial">@accountFund.ActualCost.FormatCost()</td>
                                        <td class="financial">@accountFund.EstimatedCost.FormatCost()</td>
                                        <td class="financial @tableCellClass">@accountFund.FormattedBalance</td>
                                    </tr>

                                    if (accountFund.Date.Month == 3 || Model.AccountFunds.Records.Last().Equals(accountFund))
                                    {
                                        newFinancialYearAccountFunds = true;
                                        startDateOfAccountFundsYear = accountFund.Date;
                                    @:</tbody>
                                @:</table>
                            }

                        }

                    </div>
                </div>

            </div>


            <div id="remaining-transfer-allowance" class="tab-content" style="display: none;">

                @if (Model.TransferAllowances != null)
                {
                    var tableBodyClass = Model.CanFund ? "" : "errorTable";
                    var newFinancialYear = true;
                    var startDateOfEstimationYear = Model.TransferAllowances.First().Date;

                    foreach (var costEstimate in Model.TransferAllowances)
                    {
                        var tableRowClass = costEstimate.IsLessThanCost ? "error-row" : "";
                        var tableCellClass = costEstimate.IsLessThanCost ? "error-messsage" : "";

                        if (newFinancialYear)
                        {
                            newFinancialYear = false;
                            var endYear = startDateOfEstimationYear.Month < 3 ? costEstimate.Date.ToString("yyyy") : costEstimate.Date.AddYears(1).ToString("yyyy");

                            <h3 class="heading-medium">@costEstimate.Date.ToGdsFormatWithoutDay() to March @endYear</h3>
                            @:<table class="small">
                                <thead>
                                    <tr>
                                        <th class="nowrap">Date</th>
                                        <th class="financial tippy" data-tippy-trigger="click" title="Cost of transfer funded apprenticeships that have already started and are currently being paid for. Apprenticeships that have not started or been paid for are not included in this column">
                                            Your current transfer costs
                                            <br />
                                            <span class="tip-info"><span class="info-title">info</span></span>
                                        </th>
                                        <th class="financial tippy" data-tippy-trigger="click" title="Cost of transfer funded apprenticeships you've estimated using this tool">
                                            Cost of estimated apprenticeships
                                            <br />
                                            <span class="tip-info"><span class="info-title">info</span></span>
                                        </th>
                                        <th class="financial tippy" data-tippy-trigger="click" title="The estimated funds you have left at the end of the month">
                                            Remaining transfer allowance
                                            <br />
                                            <span class="tip-info"><span class="info-title">info</span></span>
                                        </th>
                                    </tr>
                                </thead>
                                @:<tbody class="@tableBodyClass">




                                }

                                <tr class="@tableRowClass">
                                    <td>@costEstimate.Date.ToGdsFormatWithoutDay()</td>
                                    <td class="financial">@costEstimate.ActualCost.FormatCost()</td>
                                    <td class="financial">@costEstimate.EstimatedCost.FormatCost()</td>
                                    <td class="financial @tableCellClass">@costEstimate.RemainingAllowance.FormatCost()</td>
                                </tr>

                                if (costEstimate.Date.Month == 3 || Model.TransferAllowances.Last().Equals(costEstimate))
                                {
                                    newFinancialYear = true;
                                    startDateOfEstimationYear = costEstimate.Date;
                                @:</tbody>
                            @:</table>
                        }
                    }
                }
                <div class="grid-row">

                    <div class="column-full">

                        <details role="group">
                            <summary role="button" aria-controls="details-content-0" aria-expanded="false">What does this table show</summary>
                            <div class="panel panel-width-thin" id="details-content-0" aria-hidden="true">
                                <p class="text">
                                    The ‘remaining transfer allowance’ table shows a projection of your remaining transfer allowance and includes any actual training costs already committed for transfers. Your transfer allowance is re-calculated every tax year and will be available to use from May of each year.
                                </p>
                                <p class="text">
                                    The ‘Actual transfer costs’ column shows the cost of the apprenticeships that you’ve already agreed to fund with your transfer funds.
                                </p>
                            </div>
                        </details>

                    </div>
                </div>
            </div>

            <div id="apprenticeships-added" class="tab-content">
                <table class="small responsive">
                    <thead>
                        <tr>
                            <th>Apprenticeship <span class="form-hint">Level</span></th>
                            <th>Number of apprentices</th>
                            <th>Start date</th>
                            <th>Total Cost </th>
                            <th>Number of monthly payments</th>
                            <th>Monthly payment</th>
                            <th>Completion payment</th>
                            <th class="financial tippy" data-tippy-trigger="click" title="Shows if the estimated cost of apprenticeships is to be paid for using funds from your transfer allowance">
                                Transfer estimate
                                <br />
                                <span class="tip-info"><span class="info-title">info</span></span>
                            </th>
                            <th class="hidden">Edit apprentice</th>
                            <th class="hidden">Remove apprentice</th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var apprenticeship in Model.Apprenticeships.VirtualApprenticeships)
                        {
                            <tr>
                                <td data-label="Apprenticeship">@apprenticeship.CourseTitle <span class="form-hint"> @apprenticeship.Level</span></td>
                                <td data-label="Number of apprentices">@apprenticeship.ApprenticesCount</td>
                                <td data-label="Start Date">@apprenticeship.StartDate.ToGdsFormatWithoutDay() </td>
                                <td data-label="Total Cost">@apprenticeship.TotalCost.FormatCost() </td>
                                <td data-label="Number of monthly payments"> @apprenticeship.MonthlyPaymentCount</td>
                                <td data-label="Monthly payment">@apprenticeship.MonthlyPayment.FormatCost()</td>
                                <td data-label="Completion payment">@apprenticeship.CompletionPayment.FormatCost() </td>
                                <td data-label="Completion payment">@apprenticeship.FundingSourceText </td>
                                <td>
                                    @Html.RouteLink("Edit", "EditApprenticeships", new { hashedAccountId = Model.HashedAccountId, estimationName = Model.EstimationName, apprenticeshipsId = apprenticeship.Id })
                                </td>
                                <td>
                                    @Html.RouteLink("Remove", "ConfirmRemoval", new { hashedAccountId = Model.HashedAccountId, estimationName = Model.EstimationName, id = apprenticeship.Id })
                                </td>
                            </tr>
                        }
                    </tbody>


                    <tfoot class="total">
                        <tr class="total">
                            <th scope="row" class="hidden">Totals</th>
                            <td data-label="Number of apprentices">
                                <span class="bold-xsmall"> @Model.Apprenticeships.TotalApprenticeshipCount </span>
                            </td>
                            <td class="hidden">Not applicable</td>
                            <td data-label="Total Cost">@Model.Apprenticeships.TotalCost.FormatCost()</td>
                            <td class="hidden">Not applicable</td>
                            <td data-label="Monthly payment">
                                <span class="bold-xsmall">@Model.Apprenticeships.TotalMonthlyPayment.FormatCost()</span>
                            </td>
                            <td data-label="Completion payment">
                                <span class="bold-xsmall">@Model.Apprenticeships.TotalCompletionPayment.FormatCost() </span>
                            </td>
                            <td class="hidden">Not applicable</td>
                            <td class="hidden">Not applicable</td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
}
